.AppBabyTracker {
  main {
    height:100vh;
    width:100vw;
    background:red;
    overflow: hidden;
    position: relative;
    > div {
      height:50vh;
      width:50vw;
      position: absolute;
      &:before {
        position: absolute;
        content:'';
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.015);
        top:0;
        left:0;
        right:0;
        bottom:0;
      }
      &:nth-child(1) {
        background: #111;
        top:0;
        left:0;
        right:auto;
        bottom:auto;
      }
      &:nth-child(2) {
        background: #333;
        top:0;
        left:auto;
        right:0;
        bottom:auto;
      }
      &:nth-child(3) {
        background: #555;
        top:auto;
        left:0;
        right:auto;
        bottom:0;
      }
      &:nth-child(4) {
        background: #777;
        top:auto;
        left:auto;
        right:0;
        bottom:0;
      }
    }
    .btn-floating {
      width:5.625rem;
      height:5.625rem;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }
