@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;400;800&display=swap');


.AppNetflixRaces{
  * {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 200;
  }
  &__container {
    background-size: cover;
    background-position: top center;
  }

  &__row--highlight {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    position: relative;
    @media (min-width: 576px) {
      padding-top: 3rem;
      padding-bottom: 3rem;
      min-height:66vh;
    }
    @media (min-width: 768px) {
      min-height:33vh;
    }
    @media (min-width: 992px) {
      min-height:50vh;
    }
    @media (min-width: 1200px) {
      min-height:66vh;
    }
    p, span {
      color:white;
      font-size:2rem;
      line-height: 2rem;
    }
    .AppNetflixRaces__content {
      margin-left:1rem;
      .AppNetflixRaces__date {
        font-weight: 200;
        font-size:2rem;
        line-height: 2rem;
        margin-bottom:2rem;
      }
      .AppNetflixRaces__time {
        font-weight: 800;
        font-size:4rem;
        line-height: 4rem;
        margin-bottom:0;
      }
      .AppNetflixRaces__comment {
        font-weight: 200;
        font-size:2rem;
        line-height: 2.25rem;
        margin-bottom:0;
        @media (min-width: 768px) {
          max-width:66%;
        }
        @media (min-width: 992px) {
          max-width:50%;
        }
        @media (min-width: 1200px) {
          max-width:33%;
        }
      }
      .AppNetflixRaces__heading {
        margin-left:0;
        font-size:4rem;
        line-height: 4rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
        @media (min-width: 768px) {
          max-width:66%;
        }
        @media (min-width: 992px) {
          max-width:50%;
        }
        @media (min-width: 1200px) {
          max-width:33%;
        }
      }
    }
    .AppNetflixRaces__row--highlight-fade{
      position: absolute;
      bottom:0;
      width:100%;
      height:100px;
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
  }


  .AppNetflixRaces__heading {
    color:white;
    font-size:2rem;
    line-height: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-left:1rem;
    margin-bottom:1rem;
    display: block;
  }
  .AppNetflixRaces__items {
    list-style: none;
    padding:0;
    overflow-x: scroll;
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }

    @for $i from 1 through 100 {
      > :nth-child(#{$i}n) .AppNetflixRaces__image {
        animation-delay: #{1 + ($i * 0.25)}s;
      }
    }

    &--large {
      .AppNetflixRaces__item {
        width:45vw;
        height:80vw;
        @media (min-width: 768px) {
          width:40vw;
          height:22.5vw;
        }
        @media (min-width: 992px) {
          width:30vw;
          height:16.875vw;
        }
        @media (min-width: 1200px) {
          width:20vw;
          height:11.25vw;
        }
      }
    }
    &--small {
      .AppNetflixRaces__item {
        width:33.6vw;
        height:60vw;
        @media (min-width: 768px) {
          width:30vw;
          height:16.8vw;
        }
        @media (min-width: 992px) {
          width:22.5vw;
          height:12.6vw;
        }
        @media (min-width: 1200px) {
          width:15vw;
          height:8.4vw;
        }
      }
    }
    .AppNetflixRaces__item {
      overflow: hidden;
      position: relative;
      display: inline-block;
      margin-left:1rem;
      margin-right:1rem;
      flex-shrink: 0;
      .AppNetflixRaces__item-wrapper{
        height:100%;
        width:100%;
        transition: all 0.125s;
        .AppNetflixRaces__image {
          background-size: cover;
          background-position: top center;
          position: absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          filter: blur(1px) grayscale(33%) brightness(66%);
        }
        .AppNetflixRaces__item-text {
          color:white;
          font-size:1rem;
          text-transform: uppercase;
          margin-left:0.5%;
          max-width: 90%;
          text-align: center;
          display: block;
          span {
            display: block;
          }
          &-race {
            font-weight: 800;
          }
        }
      }
      span {
        position: relative;
        z-index: 2;
      }
      &:hover {
        .AppNetflixRaces__item-wrapper {
          transform: scale(1.33);
          transition: all 0.25s;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }
