.AppTriathlons {
  overflow: hidden;
  * {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 200;
  }
  strong {
    font-weight: 800;
  }
  .bg {
    //background: #AA076B;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #FF3CAC;
    background-image: linear-gradient(45deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    height:100vh;
  }
  .container-fluid, .container {
    height:100%;
  }
  .table-wrapper {
    height:100%;
  }
  .table-responsive {
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: 0 75px 25px 0 rgba(0,0,0,.125)!important;
    max-height: 90vh;
  }
  .table {
    border-radius: 10px;
    margin-bottom: 0;
    white-space: nowrap;
    tr {
      th {
        //background:rgba(255,255,255,0.95);
        background: white;
        border:none;
        font-weight: 600;
        i {
          font-size:1rem;
        }
      }
      td {
        //background:rgba(255,255,255,0.9);
        background: white;
        border:none;
      }
      &.primary-headings {
        th {
          background: transparent;
          color:white;
        }
      }
      &.secondary-headings {
        :first-child {
          border-top-left-radius: 10px;
        }
        :last-child {
          border-top-right-radius: 10px;
        }
      }
    }
    >:not(:first-child) {
      border-top:0;
    }
    &.table-condensed {
      //font-size: .8rem;
      td, th {
        padding-left:0.7rem;
        padding-right:0.7rem;
      }
    }
  }
  .btn-more-less {
    position: fixed;
    bottom:1rem;
    right:4rem;
    padding:0.5rem;
    i {
      font-size:1.5rem;
      line-height: 0.5rem;
    }
  }
  .btn-modal {
    position: fixed;
    bottom:1rem;
    right:1rem;
    padding:0.5rem;
    i {
      font-size:1.5rem;
      line-height: 0.5rem;
    }
  }
  .modal-dialog {
    margin:2rem;
    @media (min-width: 576px) {
      max-width: 70vw;
    }
    @media (min-width: 768px) {
      margin:1.75rem auto;
      max-width: 60vw;
    }
    @media (min-width: 992px) {
      max-width: 50vw;
    }
    @media (min-width: 1200px) {
      max-width: 40vw;
    }
    @media (min-width: 1400px) {
      max-width: 30vw;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }
