// book
.books {
  > div:nth-child(1n) .book {
    background-color: #333;
  }
  > div:nth-child(2n) .book {
    background-color: #666;
  }
  > div:nth-child(3n) .book {
    background-color: #999;
  }
}
.book{
  min-height: 66vh !important;
  @media (min-width: 768px) {
    min-height: 33vh !important;
  }
  @media (min-width: 1200px) {
    min-height: 50vh !important;
  }
  &__title {
    font-weight: 700;
    color:white;
    font-size:1.25rem;
    margin-bottom:0;
  }
  ul {
    li {
      font-size:0.875rem;
      color:white;
    }
  }
  &__primary-stats {
    margin-bottom:0;
  }
  &__secondary-stats {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    margin: 0.5rem 0 0 0;
  }
  &:hover {
    .book__secondary-stats {
      max-height: 300px;
      transition: all 1s;
    }
  }
  &__overlay {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:black;
    opacity: 0.25;
    z-index: 1;
  }
  &__content {
    position: relative;
    z-index: 2;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }
