// hr
hr.hr {
	background-color: white;
	height:5px!important;
	margin: 2.5rem 0!important;
	opacity: 0.25;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	hr.hr {
		margin: 5rem 0!important;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }
